body {
    background-color: rgb(202, 217, 230);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#inputbox {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

#search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
  
  #answer {
    display: flex;
    flex-wrap: wrap; 
    min-height: 100px; 
    padding: 10px;
    font-size: 16px;
  }
  #container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 100%; 
    max-width: 700px; 
    padding: 20px; 
    margin: 0 auto;
    background-color: white;

  }